.Editor {
  height: 100vh;
  width: 100vw;
}

.form-control {
  border: none !important;
}

.ql-picker-label {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px !important;
}

.editor-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}