/* #background-video {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.Form__formSection___3tqxz {
  box-shadow: none !important;
}

.Anchor__a___3JUCG:hover {
  color: #5C908F !important;
}

.Section__sectionFooterSecondaryContent___3cjOa {
  color: #565658 !important;
}

.Button__button___1FrBC {
  background-color: #EAEAEA !important;
  color: #565658 !important;
}

.Button__button___1FrBC:hover {
  background-color: #565658 !important;
  color: #EAEAEA !important;
  opacity: 1 !important;
}

.user-photo {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.user-photo-preferences {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.greeting-text {
  margin: auto;
  line-height: 2px;
}

.bold-text {
  font-weight: 700;
}

.saved-text {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: grey;
}

h4, .btn {
  font-family: 'Montserrat', sans-serif !important;
}

.editor-preview {
  display: flex;
  height: 100%;
}

.preferences-card {
  display: flex;
  height: 100%;
  justify-content: center
}

